<div class="links">
        <a class="nav_bar" href="{{site.baseurl}}/">Home</a> 
        <post_header color="#797979">|</post_header> &nbsp;&nbsp;&nbsp;
        <a class="nav_bar" href="{{site.baseurl}}/cv_sarah_li.pdf">CV</a>
        <post_header color="#797979">|</post_header> &nbsp;&nbsp;&nbsp;
        <a  class="nav_bar" href="{{site.baseurl}}/publications/">Publications</a>
        <!-- <post_header color="#797979">|</post_header> &nbsp;&nbsp;&nbsp;&nbsp;
        <a href="{{site.baseurl}}/pages/">Pages</a> -->
        <!-- <a href="{{site.baseurl}}/courses/">Courses</a> -->
        <!-- <a href="{{site.baseurl}}/research/">Research</a> -->
        
</div>