---
layout: default
---

{% if page.profile %}
    {% if page.profile.image %}
      <img class="profile {{ page.profile.align }}"  width="33.33%" src="{{ page.profile.image | prepend: '/assets/images/' | prepend: site.baseurl | prepend: site.url }}">
    {% endif %}
{% endif %}
<p></p>
{{ content }}
<p></p>
 <h1 style="color:#797979"><b>Recent News</b></h1>
<div class="article-list">
  {% for post in paginator.posts %}
    <post_header  style="color:#e1ad01"> <small>[{{post.date | date: '%B %d, %Y'}}]</small> &nbsp; <a class ="post_title" href="{{post.url | prepend: site.baseurl}}">{{post.title}}</a></post_header>
    {{post.excerpt | strip_html}}<br>
  {% endfor %}
</div>

<!-- pagination -->
{% if paginator.total_pages > 1 %}
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a>
  {% else %}
    <span>&laquo; Prev</span>
  {% endif %}

  {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
      <span class="webjeda">{{ page }}</span>
    {% elsif page == 1 %}
      <a href="{{site.baseurl}}/">{{ page }}</a>
    {% else %}
      <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
    {% endif %}
  {% endfor %}

  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>
  {% else %}
    <span>Next &raquo;</span>
  {% endif %}
</div>
{% endif %}