<!-- ---
layout: default
---
<h1>{{ page.title }}</h1>
<p class="meta">{{ page.date | date_to_string }}</p>

<div class="post">
  {{ content }}
</div> -->
<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="../">Home</a></li>
		        	<li><a href="../about">About</a></li>
	        		<li><a href="../cv">CV</a></li>
	        		<li><a href="../blog">Blog</a></li>
	    		</ul>
			</nav>
			<h1>{{ page.title }}</h1>
			<p class="meta">{{ page.date | date_to_string }}</p>

			<div class="post">
			  {{ content }}
			</div> -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:sarahli@uw.edu">email</a></li>
	        		<li><a href="https://github.com/lisarah">github.com/lisarah</a></li>
				</ul>
			</footer>
		</body>
	</html>